.rt-td {
  text-align: center;
}

.trxnTable {
    /* background-color: #b7babd8a !important; */
    background-color: #b7babd3b !important;
    width: 900px !important;
}

.container {
  border: black solid 1px;
}

/* .button {
  float : right;
} */
